.div {
    width: 1400px;
    height: 900px;
    background-color: black;
    border-radius: 25px;
    margin: 0 auto;
}

header {
    display: inline-block;
    width: 97%;
    height: 8%;
    background-color: gray;
    color: White;
    text-align: center;
    border-radius: 25px;
    margin: 20px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

nav {
    display: block;
    width: 20%;
    height: 75%;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 0 20px;
    border-radius: 25px;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

section {
    width: 54%;
    height: 75%;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 25px;
    float: left;
}

.h1 {
    background-color: silver;
    border-radius: 25px;
    width: 80%;
    height: 15%;
    margin: 20px 75px auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65px;
}

aside {
    width: 20%;
    height: 75%;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 25px;
    float: left;
    margin: 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

footer {
    display: inline-block;
    width: 97%;
    height: 8%;
    background-color: gray;
    color: White;
    text-align: center;
    border-radius: 25px;
    margin: 20px 15px;
}

article {
    background-color: silver;
    border-radius: 25px;
    width: 60%;
    height: 55%;
    margin: 90px auto;
}

.footer {
    display: inline-block;
    width: 97%;
    height: 20px;
    background-color: gray;
    color: White;
    text-align: center;
    border-radius: 25px;
    margin: 70px 15px;
}